.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-content {
  width: 500px;
  background-color: rgb(167, 164, 164);
  border-radius: 25px;
}
.modal-header,
.modal-footer {
  padding: 20px;
}

.modal-title {
  margin: 0;
  font-size: 30px;
  color: #ffd300;
}

.modal-body {
  padding-top: 20px;
  padding-left: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.modal-button {
  margin-left: 140px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font-size: 15px;
}

.modal-button:hover {
  background-color: #ffd500d0;
}
